# IDEs
.vscode/
.idea/
*.iml

# Build artifacts
build/
MultiLauncher.exe
MultiLauncher
legendary/legendary.exe
*.o
*.obj

# Logs and cache
imgui.ini
latest_log.txt
assets/cache/

# Python
tools/EpicBanner/venv/
__pycache__/
*.pyc

# Environment variables
.env
*.env.*
!.env.example

# Output from Inno Setup Compiler
Output/